[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "proBatch"]
	path = proBatch
	url = https://github.com/symbioticme/probatch
	shallow = true
	registered = true
